<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="Reciver" value="48510119404" />
    <add key="IntervalInMinutes" value="1" />
  </appSettings>
</configuration>